/* Variabel Global */
:root {
    /* Font */
    font-family: 'Montserrat', sans-serif;

  --color-primary:    rgba(26, 65, 95, 0.2);   /* sidebar */
  --color-primary2:   #0f3c5c;   /* btn/primary */
  --color-btn1:       #0f3c5c;   /*link, tombol aktif */
  --color-btn2:       #4dc2f8;   /* neon cyan */
  --color-btnhover:   #11456b;
  --color-danger:     #ef4444;   /* hapus, error */
  --color-bg:         #0d1926;   /* background halaman */
  --color-tabel1:     rgba(15, 60, 92, 0.6);   /* header tabel */
  --color-tabel2:     rgba(26, 65, 95, 0.4);   /* card, tabel */
  --color-text-1:     #4dc2f8;   /* teks judul (neon) */
  --color-text-2:     #ffffff;   /* teks putih */
  --color-text-3:     #89a5bd;   /* teks abu-abu terang */
}
