<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manajemen Barang - Toko Olahraga</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="dashboard-wrapper">
    <!-- ===== SIDEBAR ===== -->
    <aside th:replace="~{fragments/sidebar :: sidebar-fragments}"></aside>

    <!-- ===== MAIN CONTENT ===== -->
    <main class="main-content">
        
        <div class="main-header">
            <h2>Master Data Barang Olahraga</h2>
            <br>
            <a th:href="@{/barang/tambah}">+ Tambah Barang</a>
        </div>
        <br><br>

        <div class="main-data">
            <table>
                <thead>
                    <tr>
                        <th>ID Barang</th>
                        <th>Kode Barang</th>
                        <th>Nama Barang</th>
                        <th>Harga Jual</th>
                        <th>Harga Modal</th>
                        <th>Brand</th>
                        <th>Warna</th>
                        <th>Stok</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="b : ${listBarang}">
                        <td th:text="${b.idBarang}"></td>
                        <td th:text="${b.kodeBarang}"></td>
                        <td th:text="${b.namaBarang}"></td>
                        <td th:text="${b.hargaJual}"></td>
                        <td th:text="${b.hargaModal}"></td>
                        <td th:text="${b.Brand}"></td>
                        <td th:text="${b.warna}"></td>
                        <td th:text="${b.stok}"></td>
                        <td th:text="${b.status}"></td>
                        <td th:if="${session.role == 'ADMIN'}">
                            <a th:href="@{/barang/edit/{id}(id=${b.idBarang})}">Edit</a>
                            <a th:href="@{/barang/hapus/{id}(id=${b.idBarang})}" onclick="return confirm('Yakin ingin menghapus barang ini?')">Hapus</a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(listBarang)}">
                        <td colspan="11" style="text-align: center; color: red; padding: 10px;">Belum ada data barang!</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-- FORM START -->
        <div th:if="${mode != null}">
            <div>
                <h3 th:text="${mode == 'tambah' ? 'Form Tambah Barang Baru' : 'Form Edit Data Barang'}">Form Barang</h3>
            </div>

            <div>
                <form th:action="${mode == 'tambah' ? '/barang/simpan' : '/barang/update'}" th:object="${barang}" method="POST">
                    <input type="hidden" th:if="${mode == 'edit'}" th:field="*{idBarang}" />
                    <p>
                        <label>Kode Barang</label>
                        <input type="text" th:field="*{kodeBarang}" th:readonly="${mode == 'edit'}" required />
                    </p>

                    <p>
                        <label>Nama Barang:</label><br>
                        <input type="text" th:field="*{namaBarang}" required />
                    </p>

                    <p>
                        <label>Harga Jual:</label><br>
                        <input type="number" step="any" th:field="*{hargaJual}" required />
                    </p>

                    <p>
                        <label>Harga Modal:</label><br>
                        <input type="number" step="any" th:field="*{hargaModal}" required />
                    </p>

                    <p>
                        <label>Jenis Barang</label>
                        <input type="text" th:field="*{jenisBarang}"/>
                    </p>

                    <p>
                        <label>Brand</label>
                        <input type="text" th:field="*{brand}" />
                    </p>

                    <p>
                        <label>Warna</label>
                        <input type="text" th:field="*{warna}" />
                    </p>

                    <p>
                        <label>Stok</label>
                        <input type="number" th:field="*{stok}" required />
                    </p>

                    <p>
                        <label>Status</label><br>
                        <select th:field="*{status}" required style="padding: 6px; width: 100%; max-width: 200px; border-radius: 4px; border: 1px solid #ccc;">
                            <option value="1">Aktif</option>
                            <option value="0">Nonaktif</option>
                        </select>
                    </p>

                    <br>
                    <button type="submit">💾 Simpan Data</button>
                    <a th:href="@{/barang}">❌ Batal</a>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>